<?xml version="1.0"?>
<document>

  <properties>
    <author email="bob@eng.werken.com">bob mcwhirter</author>
    <title>Configuration</title>
  </properties>

  <body>

    <section name="Configuration">
    <p>
    When <a href="usage.html">using</a> the Jerk, you provide a
    configuration <i>directory</i> on the command line.  The jerk
    will read several files from this directory to configure itself.
    </p>
    </section>

    <section name="servers.conf">
      <p>
      Within the configuration directory should be a file
      called <code>servers.conf</code> which specifies to
      address and port of server to connect to when launched.
      </p>

<source>
irc.werken.com:6667
</source>

    </section>

    <section name="services.conf">
      <p>
      Within the configuration directory should be a file
      called <code>services.conf</code> which specifies
      configuration parameters for services.
      </p>

<source>
# Define the 'log' service
log : com.werken.jerk.services.log.LogService

# service-wide config props
service.log.dir  : ./logs/

# default per-channel config props
channel.log.txt   : on
channel.log.html  : on
</source>
 
    </section>

    <section name="commands.conf">
      <p>
      Within the configuration directory should be a file called
      <code>commands.conf</code>.  It is a java properties file
      where each property line has the name of the command as
      the name, and the name of the command's class as the
      value.
      </p>

<source>
join : com.werken.jerk.commands.core.Join
part : com.werken.jerk.commands.core.Part

start : com.werken.jerk.commands.core.Start
stop  : com.werken.jerk.commands.core.Stop

help  : com.werken.jerk.commands.core.Help
say   : com.werken.jerk.commands.say.Say
</source>

    </section>

  </body>

</document>

